[Dd]ebug/
[Rr]elease/
build/
[Bb]in/
[Oo]bj/
[Hh]elp/
[Pp]ackages/
[Ll]ogs/
_[Rr]e[Ss]harper.*/
_[Nn][Cc]runch_*/
*.[Cc]ache
TestResults/
Packages.dgml
*.suo
*.sln.cache
*.[Uu]ser
*.orig
*.vsmdi
*.testrunconfig
*.docstates
*.Publish.xml
*.dbmdl
*.[Rr]e[Ss]harper*
*.dotCover
*.ncrunchsolution
*.ncrunchproject
*.crunchsolution.local.xml
*.crunchproject.local.xml
*.vbw
