<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Conway's Game of Life</title>
    <link rel="stylesheet" type="text/css" href="../Styles/Universe.css" />
</head>
<body>
    <div id="layout">
        <div id="container">
            <table id="grid">
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td class="alive"></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="alive"></td>
                    <td></td>
                    <td class="alive"></td>
                </tr>
            </table>
            <div id="nav">
                <a id="nextGeneration" href="#">Next Generation</a>
            </div>
        </div>
    </div>
</body>
</html>
